#Build caches
build/
bin/
gen/
war/
libs/

#GWT specific files and directories
.gwt/

#Gradle specific files
.gradle
.temp/
local.properties

#Eclipse specific files and directories
.classpath
.project
.settings/

#Blender files
*.blend1
*.blend2

#OpenCV libraries
libopencv*.so
